.footer {
    background-color: #222;
    color: #fff;
    padding: 60px 0 20px;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
    color: white;
  }
  .footer-icon {
    color: white;
    margin-right: 2px; 
    vertical-align: middle; 
  }

  .footer-logo h2 {
    margin: 10px 0;
    color: #e74c3c;
  }
  
  .footer-logo p {
    color: #aaa;
    margin-bottom: 20px;
  }
  
  .footer h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #e74c3c;
  }
  
  .footer-links {
    margin-left: 40px;
  }
  .footer-links ul {
    list-style: none;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #e74c3c;
  }
  
  .footer-contact {
    width: 500px;
    margin-left: -35px;
  }
  .footer-contact p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #aaa;
    /*width: 500px;*/ 
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: #aaa;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #e74c3c;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #aaa;
  }

  .footer-social {
    margin-left: 40px;
  }